<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold text-body-emphasis">IMC</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">O Índice de Massa Corporal (IMC) é uma medida utilizada para avaliar se uma pessoa está com peso saudável ou não. Ele é calculado dividindo o peso da pessoa pela altura ao quadrado. O resultado é comparado com uma tabela de referência para determinar se a pessoa está abaixo do peso, com peso saudável, com sobrepeso ou obesa. O IMC não leva em consideração a composição corporal, como a quantidade de gordura e músculo, e por isso pode não ser um indicador preciso para atletas ou pessoas com grande massa muscular. </p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button routerLink="/calculadora" routerLinkActive="active" type="button" class="btn btn-primary btn-lg px-4 gap-3">Calcular IMC</button>
      </div>
    </div>
  </div>
